* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.clearfix::after {
  content: "";
  display: block;
  clear: both;
}*/

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto;
}

.title{
	font-size: 50px;
	font-family: Impact;
	float: left;
}

.search{
	padding: 15px 0;
	text-align: center;
	float: left;

}

.user{
	text-align: right;
	float: left;
}

.main-visual {
  width: 100%; /* 横幅 */
  height: 500px; /* 高さ */
  
}



.side-bar{
	position:relative;
	background-color: black;
	width: 200px;
	height: 500px;
	text-align: center;
	color: white;
	padding:300px 50px;
	font-size: 20px;
  	float: left;
}

.side-bar ul{

	position: absolute;
  	top: 35%;

}	

li {
	list-style: none;
	margin-bottom: 10px;
}

.main{
	height: 500px;
	width: 600px;
	float: left;
	background-color: white;
}
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 350px;
  padding-bottom: 50px;
  background: #FFF; 
}

.btn-box {
  display: inline-block;
  width: 150px;
  text-align: center
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  margin: 12px;
  position: relative;
  border: 2px solid #000;
  transition: .4s;
}

.btn-box:hover {
  border: 2px solid transparent;
  color: #000;
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

.movie{

}

h1{
	font-family: Verdana;
	position: relative; 
	top: 0; left:200px;
	margin: 10px;
}

.ranking{
	width: 50%;
	position: relative; 
	top: 0; left:200px;

}



.item_wrapper {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 1vw 1vw;
}

.rank1 li {
  counter-increment: rank;
}

.rank1 li::before {
  content: counter(rank) "位";
  color: #bf0000;
  font-weight: 700;
  line-height: initial;
}

.mainside{
	height: 500px;
	width: 300px;
	float: left;
	background-color: blue;
}

.script{
	text-align: center;
}

.row {
	display: flex;
	justify-content: start;
}

.sinobi{
	
 	padding: 10px;

}


